.color-1 {
    color: Aquamarine;
}

/* RGB red green blue */
/* 00-ff */
.color-2 {
    /* color: #D2691E; */
    color: #00ff00;
}

.color-3 {
    color: #ddd;
}

/* 0-255 */
.color-4 {
    color: rgb(0,100,0);
    /* opacity: 0.2; */
}

/* прозранчность от 0 до 1 */
.color-5 {
    color: rgba(150,0,0,1);
}